$(document).ready(function(){
  var scheme   = "<%= @scheme %>";
  var uri      = scheme + window.document.location.host + "/";
  var ws       = new WebSocket(uri);
  var grid_object = JSON.parse('<%= board %>')
  var grid     = []
  var winner   = 0
  $.each( grid_object, function( key, value ) {
    grid.push($.map(value, function(k,v) {if(k>0) return k}));
  });
  if($("#input-turn")[0].value==$("#input-player")[0].value){
    $('#game .alert p').text("Your turn.")
  }else{    
    $('#game .alert p').text("Waiting for opponent's move.")
  }

  ws.onmessage = function(message) {
    var data = JSON.parse(message.data);
    if(data.msg_type=='chat'){
      $("#chat-text").append("<div class='panel panel-default'><div class='panel-heading'>Player " + data.player + " say:</div><div class='panel-body'>" + data.text + "</div></div>");
      $("#chat-text").stop().animate({
        scrollTop: $('#chat-text')[0].scrollHeight
      }, 800);
    }else if(data.msg_type=='opponent-move' && data.player!=$("#input-player")[0].value){
      i = data.move
      if(grid[i].length == 6) { return }
      grid[i].push(data.player)
      $('#game .grid tr:eq('+(6-grid[i].length)+') td:eq('+i+') .slot').addClass('filled-'+data.player)
    }else if(data.msg_type=='turn'){  
      $("#input-turn").val(data.turn);  
      if(data.turn==$("#input-player")[0].value){
        $('#game .alert p').text("Your turn.")
      }else{    
        $('#game .alert p').text("Waiting for opponent's move.")
      }
    }else if(data.msg_type=='winner'){ 
      winner = data.player;
      $('#game .alert p').text("Player "+data.player+" wins!");
      alert('The game is over, player '+winner+' win.'); 
    }
  };

  $("#input-form").on("submit", function(event) {
    event.preventDefault();
    var player = $("#input-player")[0].value;
    var text   = $("#input-text")[0].value;
    ws.send(JSON.stringify({ msg_type: 'chat', player: player, text: text }));
    $("#input-text")[0].value = "";
  });

  $('#game .grid tr td').on('click', function(event) {
    event.preventDefault()
    if(winner != 0) alert('The game is over, player '+winner+' win.');
    var turn = $("#input-turn")[0].value;
    var player = $("#input-player")[0].value;
    if(turn!=player) { return }
    var i = $(this).index()
    if(grid[i].length == 6) { return }
    grid[i].push(player)
    $('#game .grid tr:eq('+(6-grid[i].length)+') td:eq('+i+') .slot').addClass('filled-'+player)
    ws.send(JSON.stringify({ msg_type: 'move', player: player, move: i }));
  })

  $('#game .grid td').on('mouseenter', function() {
    $('#game .grid tr td:nth-child('+($(this).index()+1)+')').addClass('hover')
  })
  $('#game .grid td').on('mouseleave', function() {
    $('#game .grid tr td:nth-child('+($(this).index()+1)+')').removeClass('hover')
  })

});
