<!DOCTYPE html>
<html>
  <head>
    <title>Connect Fout</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Connect Four</h1>
        <p>This is a Ruby implementation of the <a href="https://en.wikipedia.org/wiki/Connect_Four">Connect Four game</a>.</p>
      </div>
      <h2>Choose Player:</h2>
      <ul>
        <li><a href="/games/1">Player 1 (Green)</a></li>
        <li><a href="/games/2">Player 2 (YRed)</a></li>
      </ul>
    </div>
  </body>
</html>
